# 分发仓库的本地目录
DISTRIBUTION_PATH=D:/dev/identify_field/app-distribution
# Android 基座项目所在目录
ANDROID_UNI_BASE_PATH=E:/dev/uni/uni-base

# 是否启用调试模式
FLASK_DEBUG=true
# 是否启用热更新
PORT=5005
# webhook服务地址
SERVER_HOST_URL=http://localhost:5005


